
:root {
  --main-color: #4abc62;
  --main-font: "Prosto", sans-serif;
  --grey-bg: #0f1118; /* Dark grey for component backgrounds */
  --grey-text: #6B7280; /* Grey for text */
  --white: #FFFFFF;
  --black: #000000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: var(--main-font);
  height: 100%;
  margin: 0;
  background-color: var(--white);
}
